@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #000;
    color: #fff;
}
.encabezado-img {
    background: url("https://static.vecteezy.com/system/resources/previews/005/645/887/non_2x/dark-abstract-carbon-background-black-mosaic-look-modern-texture-simple-metal-illustration-vector.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.encabezadp-img p{
    font-size: 20px;
}
.encabezadp-img h1{
    font-size: 50px;
    padding: 30, 0;
}
