@tailwind base;
@tailwind components;
@tailwind utilities;
.logo{
    display: flex;
    justify-content: center;
}
@media (max-width: 897px) { 
    .formL{
        width: 80%;
    }
 }

 .cG{
    width: 300px;
    height: 400px;
 }